* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(30deg, blue, rgb(220, 42, 220));
}

.main h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 90px;
    color: white;
}

.chat-app {
    width: 100%;
    max-width: 600px;
    background-color: lightgrey;
    margin: 10px auto;
    padding: 20px;
    border-radius: 20px
}

ul li {
    list-style: none;
    padding: 10px;
    margin: 10px 50px 10px 5px;
    background-color:cornflowerblue;
    border-radius: 15px;
}

ul li.user {
    margin: 10px 5px 10px 50px;
    background-color: deepskyblue;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: navy;
    border-radius: 25px;
}

.input-container input {
    flex-grow: 1;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
    margin-left: 20px;
}

.input-container button {
    padding: 15px 50px;
    border-radius: 25px;
    border: none;
    background-color: deepskyblue;
}
